/* About Me에서 Skills로 이동할 때 오른쪽으로 슬라이드 */
.slide-right-enter {
  transform: translateX(100%);
}
.slide-right-enter-active {
  transform: translateX(0);
  transition: transform 1000ms ease-in-out;
}
.slide-right-exit {
  transform: translateX(0);
}
.slide-right-exit-active {
  transform: translateX(-100%);
  transition: transform 1000ms ease-in-out;
}

/* Skills에서 About Me로 이동할 때 왼쪽으로 슬라이드 */
.slide-left-enter {
  transform: translateX(-100%);
}
.slide-left-enter-active {
  transform: translateX(0);
  transition: transform 1000ms ease-in-out;
}
.slide-left-exit {
  transform: translateX(0);
}
.slide-left-exit-active {
  transform: translateX(100%);
  transition: transform 1000ms ease-in-out;
}

/* App.css */
.no-animation.enter,
.no-animation.exit,
.no-animation.enter-active,
.no-animation.exit-active {
  /* Home으로 돌아갈 때 애니메이션을 적용하지 않으므로 여기에는 스타일을 정의하지 않습니다. */
}
