@font-face {
  font-family: "Nato Sans-KR";
  font-weight: normal;
  src: url("./fonts/NotoSansKR-VariableFont_wght.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: "Nato Sans-KR", sans-serif;
}
html {
  height: 100%;
}
